<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar::head}"></head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Hangman</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>

<header>
  <div th:replace="~{fragments/navbar :: navbar}">
    Navbar
  </div>
  <body>

  <h1>Choose difficulty:</h1>

  <a id="easy" th:href="@{/easy/choose-category}">Easy</a>
      <br>
  <p>If you choose this category, words with length less than 5 letters will be chosen!</p>
  <br>
  <a id="medium" th:href="@{/medium/choose-category}">Medium</a>
  <br>
  <p>If you choose this category, words with length more than 5 letters and less than 10 letters will be chosen!</p>
  <br>
  <a id="hard" th:href="@{/hard/choose-category}">Hard</a>
  <br>
  <p>If you choose this category, words with length more than 10 letters will be chosen!</p>
  <br>
  <button sec:authorize="isAuthenticated()" id="logged">IM LOGGED</button>

  </body>
</header>
</html>