<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/navbar::head}"></head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Hangman</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>

<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>
    <body>
    <h2><a style="position: relative; padding-left: 100px" th:href="@{/add-word}">Add word</a></h2><br>
    <div>
        <table class="table-all-words">
            <thead>
            <tr>
                <th>Word</th>
                <th>Difficulty</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="word, iterStat : ${allWords}">
                <td th:text="${word.word}"></td>
                <td th:text="*{word.difficulty.difficultyEnum}"></td>
                <td th:text="*{word.category.categoryEnum}"></td>
                <td th:text="*{word.getDescription()}"></td>
                <td><a th:href="@{/home}">change</a></td>
                <td><a th:href="@{/home}">delete</a></td>


            </tr>

            </tbody>


        </table>
    </div>

    </body>
    <div th:replace="~{fragments/footer :: footer}">
        footer
    </div>
</header>
</html>