<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar::head}"></head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Hangman</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>

<header>
    <div th:replace="~{fragments/navbar :: navbar}">
        Navbar
    </div>
    <body>
    <div>
        <table class="table-ranking">
            <thead>
            <tr>
                <th>No:</th>
                <th>Username:</th>
                <th>Points:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iterStat : ${ranking}">
                <td th:text="${iterStat.index + 1}"></td>
                <td th:text="*{user.username}"></td>
                <td th:text="*{user.points}"></td>


            </tr>

            </tbody>


        </table>
    </div>

    </body>
</header>
</html>